.heading h3 {
    font-size: 1.9rem;
    font-family: sans-serif;
    text-transform: capitalize;
    padding-left: 15rem;
}

.middle {
    position: relative;
}

.scarecrow {
    overflow: hidden;
}
.scarecrow img {
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 8rem;
    right: 45rem;
}



.not-found h2 {
    font-size: 5rem;
    font-family: 'josefin';
    line-height: 1;
    position: absolute;
    left: 44rem;
    top: 8rem;
}

.not-found .detail {
  font-size: 24px;
  font-family: 'Courgette', cursive;
  line-height: 1.4;
  position: absolute;
  left: 44rem;
  top: 24rem;
}

.not-found .btn {
    font-size: 1rem;
    color: white;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 20px 40px;
    background-color: black;
    text-transform: capitalize;
    position: absolute;
    top: 36rem;
    left: 44rem;
}

.not-found .btn:hover{
    background-color: white;
    color: black;
}

.footer {
    font-size: 1rem;
    position: absolute;
    top: rem;
    right: 50rem;
    top: 59rem;
    
}


@media screen and (max-width: 900px){
  body {
    padding: 0;
    margin: 0;
  }
    .heading-mbl h3 {
      font-size: 1.3rem;
      padding-left: 4rem;
    }

    .middle-mbl {
        position: relative;
    }
    .middle .scare-mbl img {
    height: 17rem;
    width: 15rem;
    position: absolute;
    left: 5rem;
    top: 1rem;
  } 

  .not-mbl {
    position: relative;
 
  }

  .not-mbl .title-mbl {
    font-size: 1.8rem;
    line-height: 1.3;
    position: absolute;
    left: 5rem;
    top: 19rem;
  }

  .not-mbl .detail-mbl {
    font-size: 15px;
    line-height: 1.7;
    position: absolute;
    left: 5rem;
    top: 26rem;
  }

  .not-mbl .btn {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 5rem;
    top: 35rem;
  }

  .footer {
    font-size: 16px;
    position: absolute;
    left: 5rem;   
    right: 0;
    top: 54rem;
  }
}